# Langkah 0 - Import Library

In [1]:
import pandas as pd  # Import library pandas dan alias sebagai 'pd'
from sklearn.preprocessing import LabelEncoder, StandardScaler  # Import LabelEncoder dan StandardScaler dari scikit-learn

# Langkah 1 - Load Data

In [2]:
dpath = 'data/Titanic-Dataset-fixed.csv'  # Menyimpan path dataset dalam variabel 'dpath'
df = pd.read_csv(dpath)  # Membaca dataset dari path yang telah ditentukan dan menyimpannya dalam DataFrame 'df'
df.head()  # Menampilkan lima baris pertama dari DataFrame 'df'

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,DECK,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,DECK,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,DECK,S

# Langkah 2 - Slice Data

In [3]:
df = df[['Survived', 'Pclass', 'Age', 'Sex', 'Cabin']]  # Memilih kolom 'Survived', 'Pclass', 'Age', 'Sex', dan 'Cabin' dari DataFrame 'df' dan menyimpannya dalam 'df' yang baru
df.head()  # Menampilkan lima baris pertama dari DataFrame yang sudah dipilih kolomnya

   Survived  Pclass   Age     Sex Cabin
0         0       3  22.0    male  DECK
1         1       1  38.0  female   C85
2         1       3  26.0  female  DECK
3         1       1  35.0  female  C123
4         0       3  35.0    male  DECK

# Langkah 3 - Encoding
Encoding pada "Sex" dan "Cabin"

In [4]:
le = LabelEncoder() # membuat objek dari LabelEncoder
df['Sex'] = le.fit_transform(df['Sex']) # proses encoding
df['Cabin'] = le.fit_transform(df['Cabin']) # proses encoding
df.head()  # Menampilkan lima baris pertama dari DataFrame yang sudah dipilih kolomnya

   Survived  Pclass   Age  Sex  Cabin
0         0       3  22.0    1    115
1         1       1  38.0    0     81
2         1       3  26.0    0    115
3         1       1  35.0    0     55
4         0       3  35.0    1    115

# Langkah 4 - Verifikasi Hasil

In [5]:
df.head()  # Menampilkan lima baris pertama DataFrame 'df' setelah normalisasi pada kolom 'Age'

   Survived  Pclass   Age  Sex  Cabin
0         0       3  22.0    1    115
1         1       1  38.0    0     81
2         1       3  26.0    0    115
3         1       1  35.0    0     55
4         0       3  35.0    1    115

# Langkah 5 - Standarisasi

In [6]:
std = StandardScaler()  # Membuat objek StandardScaler dengan nama 'std'
df['Age'] = std.fit_transform(df[['Age']])  # Menggunakan StandardScaler untuk melakukan normalisasi pada kolom 'Age' dalam DataFrame 'df'

# Langkah 6 - Verifikasi Hasil Standarisasi

In [7]:
df.head()  # Menampilkan lima baris pertama DataFrame 'df' setelah normalisasi pada kolom 'Age'

   Survived  Pclass       Age  Sex  Cabin
0         0       3 -0.592481    1    115
1         1       1  0.638789    0     81
2         1       3 -0.284663    0    115
3         1       1  0.407926    0     55
4         0       3  0.407926    1    115